/* ////////////////////////////////////////////// GLOBAL STYLING //////////////////////////////////////////////*/

@import url('https://fonts.cdnfonts.com/css/avenir');
/* global */

:root {
  --primary: #FFD502;
  --secondary: #343434;
  --container: #343434;
  --text: #645145;
  --bs-body-font-family: 'Avenir', sans-serif, helvetica, arial, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bs-body-font-family);
    font-weight: 500;
    font-style: normal;
}

body {
    max-width: 1400px;
    min-height: 100vh;
    margin: auto;
    background: url(/images/landscape-xlong.jpg) no-repeat center center/cover;
}


a, .card-animation, .info-cards, .list-group-item{
  cursor: pointer;
}




/* ////////////////////////////////////////////// GLOBAL END //////////////////////////////////////////////*/
/* ////////////////////////////////////////////// NAV //////////////////////////////////////////////*/

nav { 
  background-color: var(--primary);
  height: 150px;
} 

.nav-col { 
  background-color: var(--primary);
}

nav .container-fluid{
  background-color: var(--primary);
}



/* ////////////////////////////////////////////// NAV END //////////////////////////////////////////////*/
/* ////////////////////////////////////////////// SEARCH BLOCK //////////////////////////////////////////////*/



.search-container {
    background-color: var(--secondary);
    color: white;
  } 
  
  .form-button{
    background-color: var(--secondary); 
    margin-right: 30px;
    transition: .5s;
  }

  .form-button:hover{
    background-color: var(--secondary); 
    color: white;
    transform: scale(.9);
  }

  .form-button:active{
    background-color: var(--secondary); 
    color: white;
    transform: scale(.9);
  }
  
  
  

/* ////////////////////////////////////////////// SEARCH ROW END //////////////////////////////////////////////*/
/* ////////////////////////////////////////////// BOOK ROW ////////////////////////////////////////////////*/
.card-img-top {
    max-height: 250px;
    object-fit: cover;
}

.bookCard{
  width: 300px;
  height: 90%;
  margin-bottom: 20px;
}

.card p{
font-size: 13px;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.card-author, .card-year {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
}

.card {
  height: 100%;
  display: flex;
}

.card-button {
 border: solid rgb(172, 171, 171) 1px;
 transition: .3s;
}
.card-button:hover {
  border: solid black 1px;
  box-shadow: 1px 1px 5px rgba(114, 114, 114, 0.494);
 }


/* ////////////////////////////////////////////// BOOK ROW END //////////////////////////////////////////////*/
/* ////////////////////////////////////////////// FORM ROW ////////////////////////////////////////////////*/


#title, #author, #publication-year, #image-url{
    color: var(--secondary);
    font-size: 1em;
    border: none;
    border-bottom: 2px solid var(--secondary);
    background: transparent;
    outline: none;
    width: 100%;
}

#inputGroupSelect02 {
   
    outline: none;
    border: solid 1px var(--secondary);
    border-radius: none !important;
}

.form-wrapper {
    width: 80%;
}

.form-container{
    background-color: var(--primary) !important;
  }

.add-book-image{
    background: url(/images/library.jpg) no-repeat center center/cover;
}
  
  .form-button, .card-button{
    background-color: var(--secondary);
    color: #ffffff;
  }
  
  .card-button {
    font-size: 1.1;
    background-color: transparent;
    color: black;
  }
  
  
  .h2-add-book {
    font-size: 1.5em;
  }


#submitMessage {
    margin-top: 20px;
  
}
  
.success-message, .error-message {
  font-size: 12px;
}

  .error-message {
    color: rgb(186, 21, 21);
    font-weight: bold;
  }


  /* HIDE ARROWS FOR NUMBER INPUT */

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ////////////////////////////////////////////// FORM ROW END  ////////////////////////////////////////////////*/
/* ////////////////////////////////////////////// FOOTER //////////////////////////////////////////////*/

.row-footer {
    background-color: var(--secondary);
    color: white;
    font-size: 0.8rem;
  
  }
  .footer-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
   }
  
  .logo-container-footer {
    width: 25%;
  }
  
  .footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
   }
  
   .footer-links-right {
    margin-left: 4rem;
   }
  
  
   .address-container {
    width: 20%;
    display: flex;
    justify-content: start;
   }
  
   .social-container {
    display: flex;
    flex-direction: column;
    width: 5%;
   }
 /* ////////////////////////////////////////////// FOOTER END //////////////////////////////////////////////*/
 /* ////////////////////////////////////////////// ANIMATIONS //////////////////////////////////////////////*/


 /* animation links */
  .link-anim {
    display: inline-block;
    position: relative;
    color: #000000;
  }
  
  .link-anim::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 5px;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .link-anim:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  
  .foot-anim {
    display: inline-block;
    position: relative;
    color: #fff !important;
  }
  
  .foot-anim::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 5px;
    left: 10%;
    right: 10%;
    background-color: #fff !important;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .foot-anim:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .long::after {
    content: '';
    position: absolute;
    width: 90%;
    bottom: 5px;
    left: 5%;
    right: 5%;
  
  }
  .link-anim-card {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
  
  .link-anim-card::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    top: 37px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .link-anim-card:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* animation line */
  .card-animation:hover .line-animation {
    transform: scaleX(0);
    transition: transform 0.5s ease-out;
  }
  
  
  /* animation calendar */
  .list-group-item:hover {
    transform: scaleX(1.03);
    transition: transform 0.1s;
    box-shadow: 2px 2px 5px rgb(203, 203, 203);
  }
  
  /* animation pointer */
  
  .category-button:hover .arrow-anim {
    animation: point 0.8s 1 ease-in-out;
  }
  .category-button:hover {
    transform: scaleX(1.02);
    transition: transform 0.3s;
  }
  
  @keyframes point {
  
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  /* animation buttons */
  .button:hover {
    animation: scale 0.5s both;
    background-color: #e1bc03 !important;
    color: #000000 !important;
  }
  
  @keyframes scale {
    100% {
      transform: scale(0.95);
    }
  }
  /* animation buttons end */


/* ////////////////////////////////////////////// ANIMATIONS END ////////////////////////////////////////////////*/
/* ////////////////////////////////////////////// MEDIA QUERIES //////////////////////////////////////////////*/

@media only screen and (max-width: 1000px) {
  .bookCard{
    width: 50%;
    margin: 20px 0px 20px 0px;
  }

  .card-img-top {
    max-height: 350px;
    object-fit: cover;
}
}


  
    @media only screen and (max-width: 750px) {

      .bookCard{
        width: 95%;
        margin: 20px 0px 20px 0px;
      }

      .card-img-top {
        max-height: 450px;
        object-fit: cover;
    }

      .card-title {
        font-size: 20px;
        line-height: 25px;
      }
      

        .footer-container {
          width: 100%;
          display: flex;
          flex-flow: row wrap;
         }
        
        .logo-container-footer {
          width: 50%;
        }
        
        .footer-links-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 50%;
         }
        
         .address-container {
          width: 50%;
          display: flex;
          justify-content: start;
         }
        
         .social-container {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: row;
          width: 50%;
         }
      }
      
       @media only screen and (max-width: 600px) {

        .card-img-top {
          max-height: 370px;
          object-fit: cover;
      }
      
        .grid-wrapper{
          display: block;
        }
        .card-col{
           display: inline-block !important;
           width: 100% !important;
        }
      
        .grid-cards {
          margin: 0 20px 0 20px;
        }
      
        .grid-calender {
          margin: 0 10px 0 20px;
        }
      
       .single-card{
        width: 100% !important;
       }
      
      .search-container .d-flex {
      display: block !important; 
       }
      
       .form-container{
      display: flex;
       }
      
       .search-form{
        width: 80% !important;
       }
      
       .form-btn{
        width: 20% !important;
       }
      
       .title-container{
        width: 100% !important;
       }
      
      .header-img{
      display: none !important;
       } 
       
       .grid-header{
        height: 500px !important;
        background-image: url('/images/header-mobile.png');
       }
      
      .card-img {
        height: 300px;
        object-fit: cover;
      }
      
      .search-container {
        padding-left: 3rem !important;
      }
       .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
       }
      
       .footer-links-container {
        margin: 30px 0 30px 0;
       }
      
       .address-container {
        margin: 10px 0 10px 0;
        width: 100%;
        display: flex;
        justify-content: center;
       }
      
       .social-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
       }
       }

       @media only screen and (max-width: 400px) {
        .card-img-top {
          max-height: 250px;
          object-fit: cover;
      }

      .card-title {
        font-size: 16px;
        line-height: 18px;
      }
       }

       
      
       
  

